<div class="d-flex justify-content-between align-items-start tarjeta" (mouseenter)="mostrarBtnMas()" (mouseleave)="ocultaBtnMas()">
  <h3 *ngIf="!modoEdicion" (dblclick)="cambiaModoEdicion(); enfocarNombre()">
    {{ nombre }}
  </h3>

  <mat-form-field *ngIf="modoEdicion" (keydown.enter)="updateTarea()">
    <input matInput id="nombre" [(ngModel)]="nombre" (blur)="cambiaModoEdicion()"/>
    <button matSuffix mat-icon-button (click)="updateTarea()">
      <mat-icon>check</mat-icon>
    </button>
  </mat-form-field>

  <button *ngIf="!modoEdicion && muestraBtnMas" class="btn-cuadrado" (click)="despliega()" (menuClosed)="ocultaBtnMas()"
    mat-icon-button 
    [matMenuTriggerFor]="menu"
    #menuTrigger="matMenuTrigger">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="cambiaModoEdicion(); enfocarNombre()" >
      <mat-icon>edit</mat-icon>
      <span>Renombrar</span>
    </button>
    <button class="eliminar" mat-menu-item (click)="deleteTarea()">
      <mat-icon>delete</mat-icon>
      <span>Eliminar</span>
    </button>
  </mat-menu>
</div>

