<div class="d-flex justify-content-between">

  <h2 *ngIf="!modoEdicion">
    <i class="bi bi-kanban">&nbsp;&nbsp;</i> {{ nombre }}
  </h2>

  <mat-form-field *ngIf="modoEdicion" (keydown.enter)="updateProyecto()" (click)="cambiaModoEdicion($event)">
    <i matPrefix class="bi bi-kanban">&nbsp;&nbsp;</i>
    <input matInput type="text" id="nombre" [(ngModel)]="nombre" (blur)="updateProyecto()">
    <button matSuffix mat-icon-button (click)="updateProyecto()" (click)="stopPropagation($event)">
      <mat-icon>check</mat-icon>
    </button>
  </mat-form-field>

  <button class="btn-cuadrado"
    mat-icon-button 
    [matMenuTriggerFor]="menu" 
    #menuTrigger="matMenuTrigger"
    (click)="stopPropagation($event)">
    <mat-icon>more_horiz</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="cambiaModoEdicion($event)" (click)="closeMenu(menuTrigger)" (click)="enfocarNombre()">
      <mat-icon>edit</mat-icon>
      <span>Renombrar</span>
    </button>
    <button class="eliminar" mat-menu-item (click)="deleteProyecto($event, proyectoId!)">
      <mat-icon>delete</mat-icon>
      <span>Eliminar</span>
    </button>
  </mat-menu>

</div>
