<div class="columna-container">
  <div class="cuerpo">
    <div class="d-flex justify-content-between cabecera">
      <h2 *ngIf="!modoEdicion" (dblclick)="cambiaModoEdicion(); enfocarNombre()">
        {{ nombre }}
      </h2>
      <mat-form-field *ngIf="modoEdicion" (keydown.enter)="updateColumna(columnaId!)">
        <input matInput id="nombre" [(ngModel)]="nombre" (blur)="cambiaModoEdicion()"/>
        <button matSuffix mat-icon-button (mousedown)="updateColumna(columnaId!)">
          <mat-icon>check</mat-icon>
        </button>
      </mat-form-field>

      <app-menu-ud 
        [orientacion]="'vertical'"
        (editarEvent)="cambiaModoEdicion()"
        (eliminarEvent)="deleteColumna(columnaId!)"
      >
      </app-menu-ud>

    </div>
    
    <div cdkDropList
      [cdkDropListData]="tareasColumna"
      class="tareas-container"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let tarea of tareasColumna" cdkDrag [cdkDragData]="{ tareaId: tarea.id, 
          columnaId: tarea.columna, posicion: tarea.posicion}">
            <app-tarea [tareaId]="tarea.id" [nombre]="tarea.nombreTarea" [posicion]="tarea.posicion" 
              [idColumna]="tarea.columna" [descripcion]="tarea.descripcion" [estimacion]="tarea.estimacion"
              [nombreIcono]="tarea.icono" [nombreColumna]="nombre"
            > 
            </app-tarea>
      </div>
    </div>
  </div>
    
  <div class="pie">
    <app-nueva-tarea [columna]="columnaId"></app-nueva-tarea>
  </div>

  </div>