<div class="columna-container">
  <div class="cuerpo">
    <div class="d-flex justify-content-between cabecera">
      <h2 *ngIf="!modoEdicion" (dblclick)="cambiaModoEdicion(); enfocarNombre()">
        {{ nombre }}
      </h2>
      
      <mat-form-field *ngIf="modoEdicion" (keydown.enter)="updateColumna(columnaId!)">
        <input matInput id="nombre" [(ngModel)]="nombre" (blur)="cambiaModoEdicion()"/>
        <button matSuffix mat-icon-button (click)="updateColumna(columnaId!)">
          <mat-icon>check</mat-icon>
        </button>
      </mat-form-field>

      <button *ngIf="!modoEdicion" class="btn-cuadrado"
        mat-icon-button 
        [matMenuTriggerFor]="menu" 
        #menuTrigger="matMenuTrigger">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="cambiaModoEdicion()" (click)="enfocarNombre()">
          <mat-icon>edit</mat-icon>
          <span>Renombrar</span>
        </button>
        <button class="eliminar" mat-menu-item (click)="deleteColumna(columnaId!)">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>

    </div>
    
    <div cdkDropList
      [cdkDropListData]="tareasColumna"
      class="tareas-container"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let tarea of tareasColumna" cdkDrag [cdkDragData]="{ tareaId: tarea.id, 
          columnaId: tarea.columna, posicion: tarea.posicion}">
            <app-tarea [tareaId]="tarea.id" [nombre]="tarea.nombreTarea" [posicion]="tarea.posicion" [idColumna]="tarea.columna">
            </app-tarea>
      </div>
    </div>
  </div>
    
  <div class="pie">
    <app-nueva-tarea [columna]="columnaId"></app-nueva-tarea>
  </div>

  </div>