.mat-form-field {
  margin-top: 0.5rem;
  display: block;
}

#crear-tablero-btn {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  color: var(--secondary-color);
  border-radius: 7px;
}

@media screen and (max-width: 820px) {
  button {
    min-width: fit-content;
  }
}