<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(assets/images/bg-01.jpg);">
        <span class="login100-form-title-1">
          Organiza tus proyectos
        </span>
      </div>

      <h1>Mejora el rendimiento con una herramienta para la gestión visual de proyectos</h1>

      <div class="login">
        <p>Para continuar, inicia sesión.</p>
        <button class="btn-google" (click)="onClick()">
          <span class="google-logo"><img src="assets/images/google-logo.png"></span>
          Continuar con Google
        </button>
      </div>
        
    </div>
  </div>
</div>