<div class="d-flex justify-content-between align-items-start tarjeta" (mouseenter)="mostrarBtnMas()" (mouseleave)="ocultaBtnMas()">
  <h3>
    {{ nombre }}
  </h3>

  <app-menu-ud *ngIf="!modoEdicion && muestraBtnMas" (click)="despliega()" 
    [orientacion]="'vertical'"
    [propagation]="true"
    (editarEvent)="openDialog()"
    (eliminarEvent)="deleteTarea()"
    (cierraMenu)="ocultaBtnMas()"
  >
  </app-menu-ud>
</div>

<div *ngIf="true" (click)="handleUpdate()">
  <mat-icon>notes</mat-icon>
</div>

