<div class="gral-container">

  <div class="tablero-container">
    <h1>{{ nombreProyecto }}</h1>

    <div class="columna-container"
      cdkDropList 
      [cdkDropListData]="columnas"
      cdkDropListOrientation="horizontal" 
      (cdkDropListDropped)="drop($event)"
      cdkDropListGroup>
      <div class="columna-box" *ngFor="let columna of columnas"
        cdkDrag cdkDragLockAxis="x" [cdkDragData]="{ columnaId: columna.id }">
        <app-columna [columnaId]="columna.id" [nombre]="columna.nombre">
        </app-columna>
      </div>
    </div>

    <app-nueva-columna></app-nueva-columna>

  </div>

</div>