  <div class="columna-container">
    <div class="cabecera-container">
      <h2 *ngIf="!modoEdicion" (dblclick)="cambiaModoEdicion()">
        {{ nombre }}
      </h2>

      <h2 *ngIf="modoEdicion" (keydown.enter)="updateColumna(columnaId!)">
        <input [(ngModel)]="nombre"/>
        <button (click)="updateColumna(columnaId!)">
          <i class="bi bi-check"></i>
        </button>
      </h2>

      <button class="btn" (click)="deleteColumna(columnaId!)">
        <i class="bi bi-x"></i>
      </button>
    </div>
  
    <div cdkDropList
      [cdkDropListData]="tareasColumna"
      class="tareas-container"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let tarea of tareasColumna" cdkDrag [cdkDragData]="{ tareaId: tarea.id, 
          columnaId: tarea.columna, posicion: tarea.posicion}">
          <app-tarea [tareaId]="tarea.id" [nombre]="tarea.nombreTarea" [posicion]="tarea.posicion" [idColumna]="tarea.columna">
          </app-tarea>
      </div>
    </div>

    <form [formGroup]="formulario" (ngSubmit)="addTarea()">
      <input type="text" formControlName="nombreTarea" placeholder="Nueva tarea" #nombreTarea>
      <input type="submit" value="Añadir" class="btn btn-info" (click)="nombreTarea.value=''">
    </form>
  
  </div>