/* You can add global styles to this file, and also import other style files */

:root {
  --fondo: #ebeeef;
  --primary-color: #3f525c;
  --secondary-color: #4d7bb8;
  --danger-color: #c70000;
}

html, body { height: 100%; background: var(--fondo) !important; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button[type="submit"] {
  color: var(--secondary-color);
}

.btn-cuadrado[mat-icon-button] {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  transition: background-color 0.3s ease;
  line-height: 0;
}

.icono-tarea, .icono-tarea img{
  height: 1rem;
}

.estimacion-tarea {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-icon-button:hover {
  color: #000000;
  background-color: #e4e4e4;
}

.mat-tooltip {
  font-size: 0.7rem;
  padding: 0.2rem;
}
